<div class="jumbotron">
</div>
<table class="table table-striped table-inverse">
  <tr class="well">
    <td>
      <a ng-href="#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
        <i class="icon-shopping-cart" />
        <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
      </a>
    </td>
  </tr>
  <tr ng-repeat="product in store.products | orderBy:'name' | filter:search">
    <td><img ng-src="img/products/{{product.sku}}.jpg" alt="{{product.name}}" /></td>
    <td>
      <a href="#/products/{{product.sku}}"><b>{{product.name}}</b></a><br /> {{product.description}}
    </td>
    <td>
      {{product.price | currency}}
    </td>
    <td>
      <a href="" ng-click="cart.addItem(product.sku, product.name, product.price, 1)">add to cart</a>
    </td>
  </tr>
  <tr class="well">
    <td>
      <a ng-href="#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
        <i class="icon-shopping-cart" />
        <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
      </a>
    </td>
  </tr>
</table>
